body {
  background-image: url("https://static1.squarespace.com/static/5be4ea9b55b02cf09b6748bd/t/5c09bf221ae6cf6db26d2110/1544142647138/j7y67inhxpoydajom56y.jpg?format=1500w");
  text-shadow: black;
  color: white;
}

h1 {
  text-align: center;

}
